@import "tailwindcss";
@plugin "daisyui"{
    themes:light --default, black;
    
    
};
@plugin "daisyui/theme" {
  name: "black";
 --color-primary: oklch(65% 0.18 250);
  --color-secondary: oklch(20% 0.02 270);
  /* you can also override:
     base-100, neutral, accent, info, success, etc. */
}
